<h1>Resumen de carrito</h1>
<hr>
<form id="formAdd" method="POST" action="/api/carts/{{cart._id}}/purchase">
<div class="row">
<input type="email" name="email" id="email" value="{{email}}" readonly>
</div>
<div class="row">
<button type="submit" class="margin-top btn btn-success">Buy</button>
</div>
</form>
<button onclick="emptyCart('{{current_cart}}');" class="btn btn-danger"> Vaciar Carrito </button>
{{#each cart.products}}
    <div class="card text-bg-success mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Titulo: {{this._id.title}}</h5>
            <p class="card-text">Cantidad: {{this.quantity}}</p>
            {{!-- <button onclick="lessQuantity('{{../current_cart}}','{{this._id._id}}');" class="btn btn-secondary"> - </button> --}}
            <button onclick="addToCart('{{../current_cart}}','{{this._id._id}}');" class="btn btn-secondary"> + </button>
        </div>
        <button onclick="substractToCart('{{../current_cart}}','{{this._id._id}}');" class="btn btn-danger"> eliminar </button>
    </div>

{{/each}}