<h1>Lista de productos</h1>
<hr>
<h2>Bienvenido {{last_name}}</h2>
{{#each products}}
    <div class="card text-bg-success mb-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">precio : {{this.price}} - stock: {{this.stock}}</p>
            <a href="product/{{this._id}}"><button class="btn btn-primary"> View</button></a></li>
            <button onclick="addToCart('{{../current_cart}}','{{this._id}}');" class="btn btn-secondary"> Add</button>
        </div>
    </div>
{{/each}}