<h1>Producto</h1>
<hr>
<h3>titulo: {{product.title}}</h3>
<p >descripcion: {{product.description}}</p>
<p >categoria: {{product.category}}</p>
<p>precio : {{product.price}} - stock: {{product.stock}}</p>
<button onclick="addToCart('64fd09d885e276a633a2e8aa','{{product._id}}');" class="btn btn-secondary"> Add</button>